<div id="screenstartup" class="menu-box"  style="width: 310px;" hidden>
    <div class="content_box">
        <div class="row" hidden>
            <div class="col-48 d-flex">
                <h2 id="lblStartupHeader" class="subModalTitle text-uppercase section-header fw-bold"></h2>
            <!-- <div class="col-4"> -->
                <!-- <button id="btnAddStartupRow"  hidden class="btn-action btn-sm px-2 float-end"><i class="fa-solid fa-plus"></i></button> -->
                <!-- <label class="switch">
                    <input type="checkbox">
                    <span class="slider round"></span>
                </label> -->
            <!-- </div> -->
         </div>
        </div>

<!-- 
        <div class="row mt-3">
            <i class="col-3 fas fa-arrow-up"></i>
            <i class="col-3 fas fa-arrow-down"></i>
            <div class="col-32 col-label">
                <span id="spanClaimAllRewards"></span>
            </div>
            <div class="col-10 text-center">
                <label class="switch">
                    <input id="inputClaimAllRewards"  type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>



        <div class="row mt-3">
            <i class="col-3 fas fa-arrow-up"></i>
            <i class="col-3 fas fa-arrow-down"></i>
            <div class="col-32 col-label">
                <span id="spanOpenPackPreview"></span>
            </div>
            <div class="col-10 text-center">
                <label class="switch">
                    <input id="inputOpenPackPreview"  type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>


        

        <div class="row mt-3">
            <i class="col-3 fas fa-arrow-up"></i>
            <i class="col-3 fas fa-arrow-down"></i>
            <div class="col-27 col-label">
                <span id="spanDailySbcSolve"></span>
            </div>
            <div class="col-6 ">
                <input id="inputDailySbcSolveCount"  type="text" class="customInput" style="width:40px;text-align:center" placeholder="-">
            </div>
            <div class="col-8 text-center">
                <label class="switch">
                    <input id="inputDailySbcSolve"  type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="row mt-3">
            <i class="col-3 fas fa-arrow-up"></i>
            <i class="col-3 fas fa-arrow-down"></i>
            <div class="col-32 col-label">
                <span id="spanTradeableSbcSolve"></span>
            </div>
            <div class="col-10 text-center">
                <label class="switch">
                    <input id="inputTradeableSbcSolve"  type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="row mt-3">
            <i class="col-3 fas fa-arrow-up"></i>
            <i class="col-3 fas fa-arrow-down"></i>
            <div class="col-32 col-label">
                <span id="spanTransferMarketRun" ></span>
            </div>
            <div class="col-10 text-center">
                <label class="switch">
                    <input id="inputTransferMarketRun"  type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div>

        <div class="row mt-3">
            <i class="col-3 fas fa-arrow-up"></i>
            <i class="col-3 fas fa-arrow-down"></i>
            <div class="col-32 col-label">
                <span id="spanOpenPacksAll"></span>
            </div>
            <div class="col-10 text-center">
                <label class="switch">
                    <input id="inputOpenPacksAll"  type="checkbox">
                    <span class="slider round"></span>
                </label>
            </div>
        </div> -->

        <div id="startupOptions" class="mt-2">

        </div>

        <div id="divStartupDesc" hidden class="" style="background-color: #0d171b;padding: 10px;border: 1px solid #454545;line-height: 30px;">
            <span id="spanStartupDesc"> </span>
        </div>
      
        

        <!-- <div id="divSave" class="row mt-3 mb-3" hidden>
            <div class="col-48 text-center">
                <a href="javascript:" type="button" id="btnSaveStartup" class="btn-action btn-md">
                    <i class="fas fa-check"></i>
                    <span id="spanSaveStartup"></span>
                </a>
            </div>
        </div> -->

     
      
    </div>
</div>