<div id="screenaddtotlist" class="menu-box" style="width: 300px;">
    <div class="content_box">
        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
            <tbody>
                <!-- Unassigned Items -->
                <tr>
                    <td style="width: 70%; padding: 6px 8px;">
                        <label id="lblAddToTListUnassigned" class="text-uppercase">Unassigned</label>
                    </td>
                    <td style="width: 30%; text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inputAddToTListUnassignedItems" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>

                <!-- HR -->
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>

                <!-- Club Players -->
                <tr>
                    <td style="padding: 6px 8px;">
                        <label id="lblAddToTListClubPlayers" class="text-uppercase">Kulüp Oyuncuları</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inputAddToTListClubPlayers" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>

                <!-- Don't Use Active Squad Players -->
                <tr>
                    <td style="padding: 6px 8px;">
                        <label id="lblAddToTListDontUseActiveSquatPlayers" class="ml-2" style="display: inline-block; width: 100%; height: 1em;"></label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inputAddToTListDontUseActiveSquatPlayers" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>

                <!-- HR -->
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>

                <!-- All Consumables Header (No switch) -->
                <tr>
                    <td style="padding: 6px 8px;" colspan="2">
                        <label id="lblAddToTListAllConsumables"></label>
                    </td>
                </tr>

                <!-- Contract -->
                <tr>
                    <td style="padding: 6px 8px;">
                        <label id="lblAddToTListContract" class="ml-2">Kontrat</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inpuAddToTListContract" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>

                <!-- Healing -->
                <tr>
                    <td style="padding: 6px 8px;">
                        <label id="lblAddToTListHealing" class="ml-2">İyileştirme</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inpuAddToTListHealing" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>

                <!-- Chemistry Style -->
                <tr>
                    <td style="padding: 6px 8px;">
                        <label id="lblAddToTListChemistryStyle" class="ml-2">Kimya Stili</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inpuAddToTListChemistryStyle" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>

                <!-- Manager League -->
                <tr>
                    <td style="padding: 6px 8px;">
                        <label id="lblAddToTListManagerLeague" class="ml-2">Menajer Ligi</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inpuAddToTListManagerLeague" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>

                <!-- HR -->
                <tr>
                    <td colspan="2">
                        <hr>
                    </td>
                </tr>

                <!-- Sell Items -->
                <tr>
                    <td style="padding: 6px 8px;">
                        <label id="lblAddToTListSellItems" style="display: inline-block; width: 100%;">Satılacakları Listele</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input type="checkbox" id="inputAddToTListSellItems">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>