<div id="screensnipe" class="menu-box" style="width: 270px;">
    <div class="content_box">


        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
            <tbody>
                <tr>
                    <td style="width: 70%; padding: 6px 8px; white-space: nowrap;">
                        <label id="lblSnipeSearchCount" class="text-faded">Arama Sayısı</label>
                    </td>
                    <td style="width: 30%; padding: 6px 8px; text-align: right;">
                        <input id="inpSnipeSearchCount" type="tel" style="width:60px; text-align: right;" class="numericInput customInput">
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap; padding: 6px 8px;">
                        <label id="lblSnipeSleepDuration" class="text-faded">Bekleme Süresi</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <input id="inpSnipeSleepDuration" type="tel" style="width:60px; text-align: right;" class="numericInput customInput">
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap; padding: 6px 8px;">
                        <label id="lblSnipeAddTransferList" class="text-faded">Transfer Listesine Ekle</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
          <input id="inputSnipeAddTransferList" type="checkbox" checked>
          <span class="slider round"></span>
        </label>
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap; padding: 6px 8px;">
                        <label id="lblSnipeAddTransferMarket" class="text-faded">Transfer Marketine Ekle</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
          <input id="inputSnipeAddTransferMarket" type="checkbox" checked>
          <span class="slider round"></span>
        </label>
                    </td>
                </tr>
                <tr id="tdSnipeMarketPrice">
                    <td style="white-space: nowrap; padding: 6px 8px;">
                        <label id="lblSnipeMarketPrice" class="text-faded">Piyasa Fiyatı</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <input id="inpSnipeMarketPrice" class="numericInput customInput" style="width: 100%; text-align: right;">
                    </td>
                </tr>
                <tr>
                    <td style="white-space: nowrap; padding: 6px 8px;">
                        <label id="lblSnipeCount" class="text-faded">Snipe Sayısı</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <input id="inpSnipeCount" type="tel" style="width:60px; text-align: right;" class="numericInput customInput">
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</div>