<div id="sideBar">
    <div id="sbcappfeaturesLeft" class="left">
        <div class="left-top">
            <div class="dropdown-langs navbar-box">
                <div class="dropdown-trigger"></div>
                <ul class="dropdown-list">
                </ul>
            </div>


            <!-- <a href="javascript:void(0);" class="navbar-box" id="langs" >
                    <img id="langen" name="langen" src="https://cdn-icons-png.flaticon.com/512/299/299688.png" height="30px"  />
                    <img id="langtr" name="langtr" src="https://cdn-icons-png.flaticon.com/512/299/299730.png"  height="30px"  />
                </a> 
                 -->
            <a id="userProfile" class="navbar-box ml-2 w-100">
                <span id="membership-left-day"></span>
                <span id="user_name_top" class="ml-2"></span>
            </a>



            <a id="panelLogOut" href="javascript:void(0);" class="navbar-box">
                <i class="fas fa-power-off text-danger"></i>
            </a>


        </div>
        <div id="sbcappfeatures">
        </div>
    </div>

    <div class="right">
        <div id="sideMenus">


            <div id="top-panel-run-stop">

                <a href="javascript:void(0);" id="btnStartStop" class="disabled-actn-btn">
                    <i id="i-play" class="fa-solid fa-play" style="font-size: 16px;
                        margin-top: 3px;"></i>
                    <i id="i-stop" class="fa-solid fa-stop" style="display: none;font-size: 16px;
                        margin-top: 3px;"></i>
                    <span class="px-2" id="spanAction"></span>
                </a>
            </div>
            <!-- <hr> -->
            <div id="menus"></div>

            <hr style="border: 1px solid #2dff0559 !important">

            <a href="javascript:void(0);" id="userProfile" class="quick-button-box" hidden>
                <i class="fa-solid fa-user"></i>
                <span id="user_name_top" class="text-uppercase"></span>
                <div class="badgex">
                    <div id="membership-left-day"></div>
                </div>
            </a>

            <div id="divGlobalRange">
                <span id="spanGlobalSpeed"></span>
                <input id="rangeGlobalSpeed" type="range" min="1" max="3">
            </div>

            <a href="javascript:void(0);" class="quick-button-box" id="log" hidden>
                <span></span>
            </a>





            <!-- <div id="panelLog" hidden>
                        <div class="panelHeader">
                            <label id="lblInfo" class="text-uppercase"></label>
                        </div>
                        <div id="panelBody">
                            <label id="lblDescription"></label>
                        </div>
                    </div> -->
            <!-- <div id="panelLogOut">
                        <i class="fas fa-power-off" style="margin-top:2px;font-size:20px"></i>
                    </div> -->
        </div>
    </div>
</div>

<!-- MODALS -->
<div id="sbcmodals">

    <!-- <div id="modal-futbin-squad" hidden>
            <i class="fas fa-times-circle" id="iconCloseFutbinSquatFrame"></i>
            <div class="modal-menu_content_box" style="height: 100%;">
                <iframe id="iframe-futbin"></iframe>
            </div>
        </div> -->


    <div id="modal-fill-data" class="modal-app">
        <div class="modal-content">
            <div class="header">
                <span id="modal-fill-data-close" class="close" style="font-size: 30px !important;">&times;</span>
                <span>
                        <img src="https://www.ea.com/fifa/ultimate-team/web-app/images/sbc/logo_SBC_home_tile.png" style="height:30px;margin:20px 0px 0px 20px;float:left;" />
                        KULLANICI İLETİŞİM BİLGİSİ
                    </span>
            </div>
            <div class="modal-app-body">
                <table>
                    <tr>
                        <td>WhatsApp Number</td>
                        <td style="width:80px">
                            <select class="customInput" style="width:80px;">
                                    <option value="">-</option>
                                </select>
                        </td>
                        <td style="width:100px">
                            <input type="tel" class="numericInput customInput shortInput" style="width: 100px;text-align:left">
                        </td>
                        <td>
                            <b style="color:#f11656;">*Zorunlu </b>
                        </td>
                    </tr>
                    <tr>
                        <td width="160px">Facebook Addres URL</td>
                        <td colspan="3">
                            <input type="tel" class="numericInput customInput shortInput" style="width: 300px;text-align:left">
                        </td>
                    </tr>
                </table>

                <br /><br />

                <p>Lütfen kendinize uygun seçeneği işaretleyiniz.</p>

                <div style="margin:10px">
                    <input type="radio" id="huey" name="drone" value="huey">
                    <label for="huey">Hesaplarımdaki jetonlar ( coinsler ) satılıktır. Benimle iletişime geçilebilir </label>
                </div>

                <div style="margin:10px">
                    <input type="radio" id="dewey" name="drone" value="dewey">
                    <label for="dewey">Coins satmıyorum</label>
                </div>

                <br />

                <p class="info-note">
                    <i class="fa-solid fa-circle-info"></i> Lütfen whatsapp ve facebook adres bilglerinizi doğru giriniz. Sahte whatsap numarası girildiği taktirde hesabınız <b style="color:#f11656;"> KAPATILACAKTIR !</b><br /> Eğer onaylarsanız hesaplarınızdaki
                    coinsleri, potansiyel müşteriler görür ve sizinle coins alışverişi için iletişime geçebilirler.
                </p>


            </div>
            <div class="footer" style="text-align:center !important">
                <button class="save">
                        <i class="fas fa-check-circle"></i>
                        <span> Kaydet </span>
                    </button>
            </div>
        </div>
    </div>

    <div id="modal-msg" class="modal modal-app" tabindex="-1">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 id="toast-header" class="modal-title text-uppercase">
                        <!-- <button class="ut-tab-bar-item" style="display:flex;" hidden>
                                <img src="https://www.ea.com/fifa/ultimate-team/web-app/images/sbc/logo_SBC_home_tile.png" height="22">
                                <span class="app-name">SBC MONSTER </span>
                            </button> -->
                    </h5>
                    <button type="button" class="btn-close dismiss" data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-sharp fa-solid fa-xmark"></i>
                        </button>
                </div>
                <div class="modal-body text-center">
                    <i class="fa-sharp fa-solid fa-circle-exclamation"></i>
                    <p id="toast-message"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success dismiss">
                            <i class="fa-solid fa-check"></i>
                            Ok
                        </button>
                    <a type="button" hidden target="_blank" class="btn btn-green dismiss" href="https://api.whatsapp.com/send/?phone=905411968786&text&app_absent=0">
                        <i class="fa-brands fa-whatsapp"></i> Bildir
                    </a>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- AUDIOS -->
<audio id="snipe-win-audio" hidden>
        <source src="https://www.soundjay.com/misc/sounds/coin-drop-1.mp3" type="audio/mpeg">
    </audio>
<audio id="snipe-lose-audio" hidden>
        <source src="https://media1.vocaroo.com/mp3/1mp3d02vFDnq" type="audio/mpeg">
    </audio>
<audio id="refresh-screen-audio" hidden>
        <source src="https://www.soundjay.com/buttons/beep-06.mp3" type="audio/mpeg">
    </audio>
<audio id="manager-name-audio" hidden>
        <source src="https://www.soundjay.com/buttons/button-2.mp3" type="audio/mpeg">
    </audio>
<audio id="sbc-done-audio" hidden>
        <source src="https://dl.sndup.net/q5wq/correct-choice-43861.mp3" type="audio/mpeg">
    </audio>
<audio id="exception-audio" hidden>
        <source src="https://dl.sndup.net/kjmt/wrong-answer-126515.mp3" type="audio/mpeg">
    </audio>
<audio id="audio_pack_opening" controls preload="none" hidden>
        <source src="https://onedrive.live.com/download?cid=FA476CAFF1A7E75C&resid=256B2618DF8DB1C%2194658&authkey=!AOPitXqSQ6Cdsw8" type="audio/mp3">
        <!--<source src="https://docs.google.com/uc?export=open&id=1xxBXtAbXpo0np_-BhZj3gyLfUKwvHaWT" type="audio/mp3">-->
    </audio>
<audio id="audio_sbc_player_win" controls preload="none" hidden>
        <!--<source src="https://docs.google.com/uc?export=open&id=1jwma5-UKOToD_tWEZPPurm3dfpDvHUOu" type="audio/mp3">-->
        <source src="https://onedrive.live.com/download?cid=FA476CAFF1A7E75C&resid=256B2618DF8DB1C%2194660&authkey=!ALcWwwnDLWlp6UY" type="audio/mp3">
    </audio>

<!-- TOAST -->
<div id="toastContainer" class="toast-container"></div>

</div>