<div id="modal_futbin_copy_error" class="modal modal-app" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="modalHeaderFutbinCopyError" class="modal-title text-uppercase mt-1"></h3>
                <button id="modal-button-trial-hide" type="button" class="btn-close dismiss"  data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-sharp fa-solid fa-xmark" ></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="text-center mt-4 mb-2">
                    <i class="fas fa-times-circle" style="color:red;font-size: 55px;"></i>
                </div>
                

                <div class="row mb-2 p-3">

                    <div class="col-48 text-center">
                        <h5 class="px-2 mt-1" style="line-height: 35px;">
                            <span id="spanFutbinCopyErrorSolution"></span>
                            <hr>
                        </h5>
                    </div>


                    <div class="col-48" hidden>
                            <h1 id="futbinErrorSolution1" class="mb-4 fs-20"></h1>

                            <h1 id="futbinErrorSolution2" class="mb-4 fs-20"></h1>

                            <h1 id="futbinErrorSolution3" class="mb-4 fs-20"></h1>
                    </div>
                    
                <hr class="w-100">
                
                <div class="col-48  p-0 mb-2 mt-2 text-center">
                    <a id="aLiveSupportW2" class="btn w-100 btn-lg bg-smoke btn-rounded tbtn w-90 text-white " href="w" target="blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/1384/1384055.png" height="25"> 
                        <span id="spanLiveSupportWp2" class="px-2"> W</span>
                    </a>
                </div>

                <div class="col-48  p-0 mb-2 mt-1 text-center">
                    <a  id="aLiveSupportT2" class="btn w-100 btn-lg bg-smoke btn-rounded tbtn w-90 text-white " href='t' target="blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/2111/2111646.png" height="25"> 
                        <span id="spanLiveSupportTlgrm2" class="px-2"> T </span>
                    </a>
                </div>
                
            </div>

         

                <div class="col-48  mt-3 text-center">
                    <small id="smlTelegramDesc"></small>
                </div>

                <!--<hr><span id="span_header" class="blink"></span>-->
                <p id="toast-message" class="mt-2" hidden>
                    <!--<span id="span_wp_phone_desc">
                            <span id="span_wp_phone">:</span>
                            <span class="blink">
                                <a id="wp_phone_value" target="_blank" href="https://api.whatsapp.com/send/?phone=905411564116&text&app_absent=0"></a>
                            </span>
                            <span id="wp_join_desc"></span>
                --></p>

            </div>
                <div class="modal-footer" hidden>
                    <!--<a id="aJoinNewChannel" type="button" target="_blank" style="border-radius:20px" class="btn btn-green w-50 mb-2" href="">
                        <i class="fa-brands fa-whatsapp px-2"></i>-->
                        <!--<span id="aJoinSpanDesc"></span>-->

                    <!--</a>-->
                </div>
            </div>
    </div>
</div>