<div id="modal_wp_join" class="modal modal-app" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="toast-header" class="modal-title text-uppercase">
                    TELEGRAM
                </h5>
                <button type="button" class="btn-close dismiss" data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-sharp fa-solid fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="row mt-4 mb-2">
                    <div class="col-48  p-0 mb-3 mt-2">
                        <a class="btn w-100 btn-lg btn-dark btn-rounded tbtn" href='https://t.me/+Vc1UDXy2cwM3Kjme' target="blank">
                            <img src="https://cdn-icons-png.flaticon.com/512/906/906377.png" height="25"> <span id="spanNotifyChannel" class="px-2"></span>
                        </a>
                    </div>
                </div>

                <div class="col-48  p-0 mb-4 mt-4">
                    <a class="btn w-100 btn-lg btn-dark btn-rounded tbtn" href="https://www.telegram.me/sbcbot" target="blank">
                        <img src="https://cdn-icons-png.flaticon.com/512/8743/8743949.png" height="25"> 
                        <span id="spanLiveSupport" class="px-2"></span>
                    </a>
                </div>

                <div class="col-48  mt-3 text-center">
                    <small id="smlTelegramDesc"></small>
                </div>

                <!--<hr><span id="span_header" class="blink"></span>-->
                <p id="toast-message" class="mt-2" hidden>
                    <!--<span id="span_wp_phone_desc">
                            <span id="span_wp_phone">:</span>
                            <span class="blink">
                                <a id="wp_phone_value" target="_blank" href="https://api.whatsapp.com/send/?phone=905411564116&text&app_absent=0"></a>
                            </span>
                            <span id="wp_join_desc"></span>
                --></p>

            </div>
                <div class="modal-footer" hidden>
                    <!--<a id="aJoinNewChannel" type="button" target="_blank" style="border-radius:20px" class="btn btn-green w-50 mb-2" href="">
                        <i class="fa-brands fa-whatsapp px-2"></i>-->
                        <!--<span id="aJoinSpanDesc"></span>-->

                    <!--</a>-->
                </div>
            </div>
    </div>
</div>