<div id="screenautobid" class="menu-box" style="width: 300px;">
    <div class="content_box">
        <table style="width: 100%; border-collapse: collapse; table-layout: fixed;">
            <tbody>
                <!-- Listele Kazanılanları -->
                <tr>
                    <td style="width: 70%; padding: 6px 8px; white-space: nowrap;">
                        <label id="lblListWonItems" class="text-faded">Listele Kazanılanlar</label>
                    </td>
                    <td style="width: 30%; padding: 6px 8px; text-align: right;">
                        <label class="switch">
              <input id="inputAutoBidListWonItems" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>

                <!-- Fiyat -->
                <tr id="divListOnMarket">
                    <td style="padding: 6px 8px; white-space: nowrap;">
                        <span id="spanListWonItemBuyNowPrice" class="text-faded">Hemen Al Fiyatı</span>
                    </td>
                    <td style="padding: 6px 8px; text-align: right;">
                        <input id="inputListWonItemBuyNowPrice" type="tel" placeholder="-" class="text-center numericInput customInput" style="width: 100%;">
                    </td>
                </tr>


                <!-- Transfer Listesine Ekle -->
                <tr>
                    <td style="white-space: nowrap; padding: 6px 8px;">
                        <label id="lblAddWonItemsToTransferList" class="text-faded text-nowrap">Transfer Listesine Ekle</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inputAddWonItemsToTransferList" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>


                <!-- Kulübe Ekle -->
                <tr>
                    <td style="white-space: nowrap; padding: 6px 8px;">
                        <label id="lblAddWonItemsToClub" class="text-faded">Kulübe Ekle</label>
                    </td>
                    <td style="text-align: right; padding: 6px 8px;">
                        <label class="switch">
              <input id="inputAddWonItemsToClub" type="checkbox">
              <span class="slider round"></span>
            </label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>