<div class="content_box" hidden>
    <div class="row sbc-tabs" id="tMarketTopMenus">
        <div class="col-22">
            <button id="tMarketUnsoldMenu" class="menu-tab-buttons"></button>
        </div>
        <div class="col-26">
            <button id="tMarketAvailableMenu" class="selected menu-tab-buttons"></button>
        </div>
    </div>
    <hr class="mb-3 mt-3" />

    <div id="tmarket-unsold-container" hidden>

        <div class="content-section">
            <div class="row mb-2">
                <div class="col-34">
                    <label id="lblQuickSell1" class="subModalTitle text-uppercase section-header"></label>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListQSActive" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanTMarketQSUnsoldMaxRating" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <input id="inputReListQSMaxRating" class="customInput text-center w-70" type="text" placeholder="-" />
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanTMarketQSIfLowestPrice" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListQSIfMinPrice" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanChemistry1" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListQSChemistry" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanManager1" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListQSManager" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanPosition1" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListQSPosition" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1" hidden>
                <div class="col-34">
                    <span id="spanContract1" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListQSContract" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanOther1" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListQSOther" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>

        <div class="content-section">
            <hr>
            <div class="row mb-2">
                <div class="col-34">
                    <span id="spanSendToClub1" class="subModalTitle text-uppercase section-header"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListSendToClubActive" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanCommonPlayerCards1" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListSendToClubCommonPlayerCards" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanRarePlayerCards1" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListSendToClubRarePlayerCards" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanLowestPrice1" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListSendToClubIfMinPrice" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>

        <div class="content-section mb-4">
            <hr>
            <div class="row mb-2">
                <div class="col-48">
                    <span id="spanReListingSettings" class="subModalTitle text-uppercase section-header"></span>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanUnsoldComparePrices" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputReListSComparePrice" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanReListStartPrice" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <input id="inputReListStartPrice" disabled type="tel" placeholder="-" class="text-center numericInput customInput shortInput">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanReListBuyNowPrice" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <input id="inputReListBuyNowPrice" type="tel" placeholder="-" class="text-center numericInput customInput shortInput">
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-34">
                    <span id="spanUnSoldPriceChange" class="ml-2 text-faded">  <i class="fa-solid fa-up"></i>  <i class="fa-solid fa-down"></i></span>
                </div>
                <div class="col-14 text-center ">
                    <div class="input-group">
                        <label id="lblPriceUnSoldChangeDown" class="input-group-addon "><i class="fa fa-minus"></i></label>
                        <input id="inputReListSPriceChange" style="width: 10px;" type="text" class="numericInput customInput shortInput text-center" disabled="">
                        <label id="lblUnsoldPriceChangeUp" class="input-group-addon"><i class="fa fa-plus"></i></label>
                    </div>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanReListDuration" class="ml-2 text-faded"> </span>
                </div>
                <div class="col-14 text-center ">
                    <select id="selectReListDuration" class="customInput" disabled>
                        <option>1 Hour</option>
                        <option>3 Hours</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div id="tmarket-available-container">

        <div class="content-section">
            <div class="row mb-2">
                <div class="col-34">
                    <label id="lblItemsToQucikSell2" class="subModalTitle text-uppercase section-header"></label>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input type="checkbox" id="inputListQSActive" />
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spnMaxRatingTradeable" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <input id="inputListQSMaxRating" class="customInput text-center w-70" type="text" placeholder="-" />
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spnMaxRatingUnTradeable" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <input id="inputListQSMaxRatingUntCopy" class="customInput text-center w-70" type="text" placeholder="-" />
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanQucikSellIfMinAvailable" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListQSIfMinPrice" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanChemistry2" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListQSChemistry" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanManager2" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListQSManager" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1" hidden>
                <div class="col-34">
                    <span id="spanPosition2" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListQSPosition" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1" hidden>
                <div class="col-34">
                    <span id="spanContract2" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListQSContract" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanOther2" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListQSOther" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
        </div>
        <hr>

        <div class="content-section">
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanSendToClub2" class="subModalTitle text-uppercase section-header"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListSendToClubActive" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanCommonPlayerCards2" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListSendToClubCommonPlayerCards" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanRarePlayerCards2" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListSendToClubRarePlayerCards" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanIfMinPrice2" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <label class="switch">
                        <input id="inputListSendToClubIfMinPrice" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>

            </div>
        </div>
        <hr>

        <div class="content-section">
            

            <div class="row mb-1">
                <div class="col-34">
                    <span id="listingSettings" class="subModalTitle text-uppercase section-header"></label>
                </div>
            </div>


            <div class="row mb-1" id="package-add-list">
                <div class="col-35">
                    <span id="spnAddToTransferList" class="ml-2 text-faded"> </span>
                </div>
                <div class="col-13 text-center">
                    <label class="switch">
                        <input id="input_add_to_tlist" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>
            <div class="row mb-1" id="trPackingListOnMarket">
                <div class="col-35">
                    <span id="spnAddToTransferMarket" class="ml-2 text-faded"></span>
                </div>
                <div class="col-13 text-center">
                    <label class="switch">
                        <input id="input_list_on_market" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

            
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanListStartPrice" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <input id="inputListStartPrice" disabled type="tel" placeholder="-" class="text-center numericInput customInput shortInput">
                </div>
            </div>
            
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanListBuyNowPrice" class="ml-2 text-faded"></span>
                </div>
                <div class="col-14 text-center">
                    <input id="inputListBuyNowPrice" type="tel" placeholder="-" class="text-center numericInput customInput shortInput">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanPriceChange" class="ml-2 text-faded">  <i class="fa-solid fa-up"></i>  <i class="fa-solid fa-down"></i></span>
                </div>
                <div class="col-14">
                    <div class="input-group">
                        <label id="lblPriceChangeDown" class="input-group-addon "><i class="fa fa-minus"></i></label>
                        <input id="inputListSPriceChange" style="width: 10px;" type="text" class="numericInput customInput shortInput text-center" disabled="">
                        <label id="lblPriceChangeUp" class="input-group-addon"><i class="fa fa-plus"></i></label>
                    </div>
                </div>

            </div>
            <div class="row mb-1">
                <div class="col-34">
                    <span id="spanListDuration" class="ml-2 text-faded"> </span>
                </div>
                <div class="col-14 text-center ">
                    <select id="selectListDuration" class="customInput" disabled>
                        <option>1 Hour</option>
                        <option>3 Hours</option>
                    </select>
                </div>
            </div>
        </div>

    </div>
</div>