<div id="screensettings" class="menu-box" style="width: 200px;">
    <div class="content_box">


        <div class="list-group">
            <a id="sync_sbc" href="javascript:void(0)">KKG</a>
            <a id="sync_pack" href="javascript:void(0)">Paket</a>
            <a id="sync_manager" href="javascript:void(0)">Teknik Direktör</a>
            <a id="sync_quality" href="javascript:void(0)">Kalite</a>
            <a id="sync_rarity" href="javascript:void(0)">Nadirlik</a>
            <a id="sync_nation" href="javascript:void(0)">Uyruk</a>
            <a id="sync_position" href="javascript:void(0)">Pozisyon</a>
            <a id="sync_league_club" href="javascript:void(0)">Lig & Kulüp</a>
        </div>

        <div hidden>


            <div class="row mt-2">
                <div class="col-48">
                    <button id="btnSyncSbc" class="btn-action btn-md w-100">Sync SBC</button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-48">
                    <button id="btnSyncPacks" class="btn-action btn-md w-100">Sync Packs</button>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-48">
                    <button id="btnSyncCoachPrices" class="btn-action btn-md w-100">Sync Coach Prices</button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-48">
                    <button id="btnSyncQualities" class="btn-action btn-md w-100">Sync Qualities
                </button>
                </div>
            </div>


            <div class="row mt-4">
                <div class="col-48">
                    <button id="btnSyncRarities" class="btn-action btn-md w-100">Sync Rarities
                </button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-48">
                    <button id="btnSyncNations" class="btn-action btn-md w-100">Sync Nations
                </button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-48">
                    <button id="btnSyncPositions" class="btn-action btn-md w-100">Sync Position
                </button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-48">
                    <button id="btnSyncLeagues" class="btn-action btn-md w-100">Sync Leagues With Clubs
                </button>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-48">
                    <button id="btnSyncCheapest" class="btn-action btn-md w-100">En Ucuz Oyuncuları Tara ( Futbin )
                </button>
                </div>
            </div>
        </div>




    </div>
</div>